parameters:
    env(MONGODB_URL): ''

doctrine_mongodb:
    auto_generate_proxy_classes: '%kernel.debug%'
    auto_generate_hydrator_classes: '%kernel.debug%'
    connections:
        default:
            server: '%env(MONGODB_URL)%'
    document_managers:
        default:
            auto_mapping: false
            mappings:
                Common:
                    is_bundle: false
                    type: xml
                    dir: '%kernel.project_dir%/src/Core/Infrastructure/Resources/doctrine'
                    prefix: App\Core\Domain
